@using SIMS_FPT.Models
@model StudentCSVModel

@{
    ViewData["Title"] = "Student Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Student Details</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="List">Students</a></li>
                        <li class="breadcrumb-item active">Details</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-info">
                            <h4>Personal Information</h4>
                            <div class="media mt-3">
                                <img src="@(string.IsNullOrEmpty(Model.ImagePath) ? "/assets/img/default-avatar-1-32.svg" : Model.ImagePath)"
                                    class="mr-3 rounded-circle" alt="Student Image"
                                    style="width: 100px; height: 100px; object-fit: cover;"
                                    onerror="this.src='/assets/img/default-avatar-1-32.svg'">

                                <div class="media-body">
                                    <ul>
                                        <li>
                                            <span class="title-span">Full Name : </span>
                                            <span class="info-span">@Model.FullName</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Student ID : </span>
                                            <span class="info-span">@Model.StudentId</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Gender : </span>
                                            <span class="info-span">@Model.Gender</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Date of Birth : </span>
                                            <span class="info-span">@Model.DateOfBirth.ToString("dd MMM yyyy")</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12 text-right">
                        <a asp-action="Edit" asp-route-id="@Model.StudentId" class="btn btn-primary">
                            <i class="fas fa-pen"></i> Edit Profile
                        </a>
                        <a asp-action="List" class="btn btn-secondary">Back to List</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>