@using SIMS_FPT.Models
@model IEnumerable<FeesStructureModel>
@{
    ViewData["Title"] = "Fees Structure"; Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .table-hover tbody tr:hover {
        background-color: #e3f2fd !important;
        transition: all 0.3s ease;
    }
</style>

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Fees</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Fees</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto"><a asp-action="Add" class="btn btn-primary"><i
                            class="fas fa-plus"></i></a></div>
            </div>
        </div>
        <div class="card card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0 datatable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fees Name</th>
                                <th>Class</th>
                                <th>Amount</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>
                                        <h2><a>@item.FeesName</a></h2>
                                    </td>
                                    <td>@item.Class</td>
                                    <td>$@item.Amount</td>
                                    <td>@item.StartDate.ToString("dd MMM yyyy")</td>
                                    <td>@item.EndDate.ToString("dd MMM yyyy")</td>
                                    <td class="text-right">
                                        <div class="actions">
                                            <a asp-action="Edit" asp-route-id="@item.Id"
                                                class="btn btn-sm bg-success-light mr-2"><i class="fas fa-pen"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.Id"
                                                class="btn btn-sm bg-danger-light" onclick="return confirm('Delete?');"><i
                                                    class="fas fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>